{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="card-header bg-primary text-white">
            <h1 class="mb-0">Diary Details</h1>
        </div>
        <div class="card-body">
            <h2 class="card-title">{{ diary.title }}</h2>
            <h3 class="card-subtitle mb-2 text-muted">{{ diary.writer }}</h3>
            <p class="card-text"><strong>작성일자:</strong> {{ diary.created_at }}</p>
            <p class="card-text"><strong>최근 수정일자:</strong> {{ diary.updated_at }}</p>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% else %}
                <h4>내용</h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item">{{ diary.content }}</li>
                </ul>
                <!-- <h4>지역</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>심의등급</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for audit in details.audits %}
                            <tr>
                                <td>{{ audit.watchGradeNm }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> -->

                <h4>영화</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>영화이름</th>
                            <th>상세정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ diary.movie }}</td>
                            <td>
                                <form action="{% url 'box_office:search_list' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link" name="movieNm" value="{{ diary.movie }}">보러가기</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h4>옵션</h4>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <a href="{% url 'diaries:diary_update' diary.pk %}">수정</a>
                            </th>
                            <th>
                                <form action="{% url 'diaries:diary_delete' diary.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">삭제</button>
                                </form>
                            </th>
                            <th>
                                <a href="{% url 'diaries:diary_list' %}">되돌아가기</a>
                            </th>
                        </tr>
                    </thead>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
