{% extends "base.html" %}

{% block content %}
    <h1>Movie Details</h1>
    <h2>{{ details.movieNm }}</h2>
    <h3>{{ details.movieNmEn }}</h3>
    <h4>상영시간: {{ details.showTm }}분</h4>
    <h4>개봉연도: {{ details.openDt|slice:"0:4" }}-{{ details.openDt|slice:"4:6" }}-{{ details.openDt|slice:"6:8" }}</h4>
    <h5>제작연도: {{ details.prdtYear }}년</h5>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <h4>장르</h4>
        {% for genre in details.genres %}
            <ul>
                <li>{{ genre.genreNm }}</li>
            </ul>
        {% endfor %}
        <h4>제작 국가</h4>
        {% for nation in details.nations %}
            <ul>
                <li>{{ nation.nationNm }}</li>
            </ul>
        {% endfor %}
        <h4>심의정보</h4>
        <table border="1">
            <thead>
                <tr>
                    <th>심의등급</th>
                </tr>
            </thead>
            <tbody>
                {% for audit in details.audits %}
                    <tr>
                        <td>{{ audit.watchGradeNm }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>감독</h4>
        {% for director in details.directors %}
            <ul>
                <li>{{ director.peopleNm }} [{{ director.peopleNmEn }}]</li>
            </ul>
        {% endfor %}
        <h4>배우</h4>
        <table border="1">
            <thead>
                <tr>
                    <th>배우명</th>
                    <th>배우명(영문)</th>
                    <th>배역</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in details.actors %}
                    <tr>
                        <td>
                            <form action="{% url 'box_office:actor_detail' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" name="peopleNmEn" value="{{ actor.peopleNmEn }}">{{ actor.peopleNm }}</button>
                            </form>
                        </td>
                        <td>{{ actor.peopleNmEn }}</td>
                        <td>{{ actor.cast }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>영화사</h4>
        <table border="1">
            <thead>
                <tr>
                    <th>영화사 명</th>
                    <th>영화사 명(영문)</th>
                    <th>분야 명</th>
                </tr>
            </thead>
            <tbody>
                {% for company in details.companys %}
                    <tr>
                        <td>{{ company.companyNm }}</td>
                        <td>{{ company.companyNmEn }}</td>
                        <td>{{ company.companyPartNm }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}